@model IEnumerable<MVC_EGOR_2.Models.Club>

<h1>Список клубов</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название клуба</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var club in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Players", "Clubs", new { clubId = club.ClubID })">
                        @club.ClubName
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
