namespace MVC_EGOR_2.Views.Players
{
@model MVC_EGOR.Models.Roster

<form asp-action="Edit" asp-controller="Players">
    <input type="hidden" asp-for="PlayerID" />
    <div>
        <label asp-for="PlayerName"></label>
        <input asp-for="PlayerName" class="form-control" />
    </div>
    <div>
        <label asp-for="Position"></label>
        <input asp-for="Position" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
}
